<div class="direct-chat-msg doted-border">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-name pull-left"><%= message.user.name %></span>
  </div>
  <div class="direct-chat-text">
    <%= message.content %>
  </div>
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-timestamp pull-right"><%= message.created_at %></span>
  </div>
</div>
