<% provide :title, 'サインアップ' %>
<% provide :button_text, 'サインアップ' %>
<div class="row d-flex flex-row" id="form-row">
  <div class="col-md-9">
    <h1><%= 'サインアップ'%></h1>
    <%= render "form" %>
  </div>
</div>
