<% provide :title, "ログイン" %>
<% provide :button_text, "ログイン" %>
<div class="row justify-content-center" id="form-row">
  <div class="col-5">
    <h1><%= "ログイン"%></h1>
    <%= render "form" %>
  </div>
</div>
