<div class="row well hotel">
    <div class="col-sm-6 hotel-img">
        <%if hotel.hotel_pictures %>
          <%= image_tag hotel.hotel_pictures.first.picture.url, alt: "hotel logo"%>
        <% else %>
          <%= link_to image_tag("hotel.jpg", alt: "hotel logo")%>
        <% end %>
    </div>
    <div class="col-sm-6 hotel-information">
        <h2><%=link_to hotel.name, hotel %></h2>
    </div>
</div>
