<% provide :button_text, t("create_button") %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="blog_post_container">
      <h1><%= t "create_review" %></h1>
      <%= render "form" %>
    </div>
  </div>
</div>
